[submodule "zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/cljlib"]
	path = awesome/cljlib
	url = https://gitlab.com/andreyorst/fennel-cljlib
